{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "id": "primary_link_list",
      "type": "link_list",
      "label": "Menu principale",
      "default": "main-menu"
    }, 
    {
        "type": "image",
        "name" : "logo",
        "settings" : [
            {
                "type": "image_picker",
                "label": "your logo",
                "id" : "image"
            }
        ]
    }
  ]
}
{% endschema %}






<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				{%- comment -%}
				  provo a gestire un logo
				{%- endcomment -%}
				{%- if template.name == 'index' -%}
				  <h1 itemscope itemtype="http://schema.org/Organization">
				{%- else -%}
				  <div itemscope itemtype="http://schema.org/Organization">
				{%- endif -%}

				  <a href="/" itemprop="url">
				  	 <img src="{{ block.settings.image | img_url}}"/>
				    <img src="{{ "logo.svg" | asset_url }}"
				      alt="{{ shop.name }}"
				      itemprop="logo">
				  </a>

				{%- if template.name == 'index' -%}
				  </h1>
				{%- else -%}
				  </div>
				{%- endif -%}

				{%- comment -%}
				    Elemento principale del brand posizionato in alto a sinistra nella barra di navigazione.
				{%- endcomment -%}
				<a class="navbar-brand" href="/">{{ shop.name | escape }}</a>
			</div>
			<div class="col-sm-12 col-md-6">
				{%- comment -%}
			      Codice che cerca il menu principale (elenco di link) configurato nelle impostazioni 
			    della sezione, itera su ogni voce del menu e la visualizza.
			    {%- endcomment -%}
			    {%- assign primary_link_list = linklists[section.settings.primary_link_list] -%}
			    {%- unless primary_link_list == blank -%}
			    <ul class="navbar-nav mr-auto">
			      {%- for link in primary_link_list.links -%}
			      {%- assign child_link_list_handle = link.title | handle -%}
			        {%- assign child_link_list = linklists[child_link_list_handle] -%}
			        {%- if child_link_list and child_link_list.links.size > 0 -%}
			          {%- assign has_child_link_list = true %}
			        {%- else- %}
			          {%- assign has_child_link_list = false %}
			        {%- endif -%}
			        <li class="nav-item {% if link.active %}active{% endif %} {% if has_child_link_list %}dropdown{% endif %}">
			          <a href="{{ link.url }}" class="nav-link {% if has_child_link_list %}dropdown-toggle{%  endif %} %}" {% if has_child_link_list %}id="{{ child_link_list_handle }}-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
			            {{ link.title | escape }} {% if link.active %}<span class="sr-only">(current)</span>{% endif %}
			          </a>
			          {%- if has_child_link_list -%}
			            <div class="dropdown-menu" aria-labelledby="{{ child_link_list_handle }}-dropdown-toggle">
			              {%- for child_link in child_link_list.links -%}
			                <a href="{{ child_link.url }}" class="dropdown-item">{{ child_link.title | escape }}</a>
			              {%- endfor -%}
			            </div>
			          {%- endif -%}
			        </li>
			      {%- endfor -%}
			    </ul>
    			{%- endunless -%}
			</div>
			<div class="col-sm-12 col-md-3">
				{%- comment -%}
				      Codice per visualizzare gli elementi di navigazione sul lato destro del menu 
				    principale: un collegamento per la ricerca, un account cliente o un collegamento di 
				    accesso (a seconda che gli account cliente siano abilitati e che il cliente abbia 
				    effettuato l'accesso o meno) e un collegamento al carrello.
				    {%- endcomment -%}
				    <ul class="navbar-nav">
				      <li class="nav-item">
				        <a class="nav-link" href="/search">Cerca</a>
				      </li>
				      {%- if shop.customer_accounts_enabled -%}
				        {%- if customer -%}
				          <li class="nav-item">
				            <a class="nav-link" href="/account">{{ customer.first_name | escape }} 
				              {{ customer.last_name | escape }}</a>
				          </li>
				        {%- else -%}
				          <li class="nav-item">
				            <a class="nav-link" href="/account/login">Log in</a>
				          </li>
				        {%- endif -%}
				      {%- endif -%}
				      <li class="nav-item">
				        <a class="nav-link" href="/cart">Carrello ({{ cart.item_count }})</a>
				      </li>
				    </ul>
			</div>
		</div>
	</div>
</header>



