<main>
	<h1>{{collection.title | escape }}</h1>
	{%- paginate collection.products by 12 -%}
	<section>
		{%- for product in collection.products -%}
			<a href="{{ product.url }}">
			 <h2>{{ product.title }}</h2>
			  <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
			  <p>{{ product.description }}</p>
			</a>  
		{%- endfor -%}	
		{%- if paginate.pages > 1 -%}
			{{ paginate | default_pagination }}
		{%- endif -%}	
	</section>
	{%- endpaginate -%}	






</main>