<main>
	<div id="column-left">
	<div class="image-wrapper">
    {% image image | resize: '200x200' %}
  </div>
  
				
	</div>
	<div id="column-right">
		<h1>{{ product.title | escape }}</h1>
		<h5>{{ product.vendor | escape }}</h5>
		<h3>
			{% if profuct.price_varies %}
				{{ product.price_min | money }} - {{ product.price_max | money }} 
			{% else %}
				{{ product.price | money }}
			{% endif %}	
		</h3>
		{{ product.description }}
		<form action="/cart/add" method="post" role="form">
			{%- if product.variants.size > 1 -%}
				<label for="product-select">
					Select your {{ product.title | downcase }}
				</label>
				<select id="product-select" name="id">
					{%- for  variant in product.variants -%}
						<option {% if variant == product-selectef_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
							{{ variant.title | escape }} - {{ variant.price | money }}
						</option>
					{%- endfor -%}
				</select>
			{%- else -%}
				<input type="hidden" name="id" value="{{ product.variants.first.id }}"
			{%- endif -%}
			<button type="submit" {% unless product.available %} disabled="disabled" {% endunless %}>Add to cart</button>
		</form>

{% comment %}
da qui testiamo il codice per creare le varianti
{% endcomment %}
<h1>codice per varianti</h1>
		{% if product.options.size > 1 %}
<label for="product-variants">Seleziona la variante:</label>
<select id="product-variants" name="id">
    {% for variant in product.variants %}
      {% assign variantAvailable = true %}
      {% for option in product.options %}
        {% unless variant.options contains option %}
          {% assign variantAvailable = false %}
        {% endunless %}
      {% endfor %}
      {% if variantAvailable %}
<option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endif %}
    {% endfor %}
</select>
{% endif %}


{% comment %}
da qui testiamo il codice per creare le varianti google
{% endcomment %}

{% for variant in product.variants %}
  <div class="variant">
    <input type="radio" name="variant" value="{{ variant.id }}" id="{{ variant.id }}">
    <label for="{{ variant.id }}">{{ variant.title }}</label>
    <span class="price">{{ variant.price | money }}</span>
    <img src="{{ variant.image }}" alt="{{ variant.title }}">
  </div>
{% endfor %}

<script>
  $(document).ready(function() {
    $('input[name="variant"]').change(function() {
      var variantId = $(this).val();
      // Invia una richiesta AJAX per aggiornare il carrello con la variante selezionata
    });
  });
</script>



	</div>

</main>